<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <components>
        <!-- general -->
        <component id="ILogger"
                   service="Instrumentation.ILogger, Instrumentation"
                   type="Instrumentation.DefaultLogger, Instrumentation"
                   lifestyle="transient" />

        <!-- services -->
        <component id="IBlogEngineService"
                   service="Services.IBlogEngineService, Services"
                   type="Services.BlogEngineService, Services"
                   lifestyle="transient" />

        <!-- repositories -->
        <component id="ICommentRepository"
                   service="DataAccess.ICommentRepository, DataAccess"
                   type="DataAccess.CommentRepository, DataAccess"
                   lifestyle="transient"/>

        <component id="IPostRepository"
                   service="DataAccess.IPostRepository, DataAccess"
                   type="DataAccess.PostRepository, DataAccess"
                   lifestyle="transient"/>

        <component id="ICategoryRepository"
                   service="DataAccess.ICategoryRepository, DataAccess"
                   type="DataAccess.CategoryRepository, DataAccess"
                   lifestyle="transient"/>
    </components>
</configuration>
